html,
body,
body > div,
body > div > div,
body > div > div > div {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body > div > div > div {
  align-items: stretch;
}

#root {
  display: flex;
}

#main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#sidebar,
pre {
  background: #272822;
}

#sidebar {
  overflow: auto;
}

pre {
  padding: 0.5rem;
  margin-bottom: 2rem;
  white-space: pre-wrap !important;
}

#sidebar pre {
  white-space: pre-wrap;
}

code[class*='language-'] {
  white-space: pre-wrap !important;
}

#content {
  padding: 2rem 7rem 2rem 0;
}

#nav {
  flex-grow: 0;
  width: 20rem;
  flex-basis: 20rem;
  flex-shrink: 0;
}

a[aria-current*='page'] {
  color: #e83e8c;
  cursor: text;
}

@media only screen and (max-width: 768px) {
  #root {
    flex-direction: column;
  }

  #sidebar {
    display: none;
  }

  #content {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  #main {
    flex-direction: row;
    align-items: stretch;
  }

  #content {
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 350px;
    max-width: 750px;
  }

  #sidebar {
    flex-grow: 5;
    flex-shrink: 0;
  }
}

.knobs {
  margin: 1rem;
  padding: 0;
}

.knobs li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
}
